[Unit]
Description=Key Server
After=network.target

[Service]
User=student
Group=student
ExecStart=/home/student/keysrv
WorkingDirectory=/home/student/
AmbientCapabilities=CAP_NET_BIND_SERVICE
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
